<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
    <div class="logo-container">
      <img src="assets/img/logo.png" alt="logo">
    </div>
    <ul class="menu">
      <li routerLink="/dashboard" [ngClass]="{ 'router-link-active': isActive('/dashboard') }">
        <mat-icon>dashboard_2</mat-icon> Dashboard
      </li>
      <li routerLink="/user" [ngClass]="{ 'router-link-active': isActive('/user') }">
        <mat-icon>person</mat-icon> User
      </li>
      <li routerLink="/contact" [ngClass]="{ 'router-link-active': isActive('/contact') }">
        <mat-icon>contact_support</mat-icon> Contact
      </li>
    </ul>
  </mat-drawer>

  <div class="sidenav-content">
    <p>
      <mat-toolbar color="primary">
        <button mat-icon-button class="menu-icon" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Simple CRM</span>
      </mat-toolbar>
    </p>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>